<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Restaurant</title>
    <link rel="stylesheet" href="/static/css/restaurant/form.css">
</head>
<body>
<div class="update-restaurant-container">
    <h2>Update Restaurant Information</h2>
    <form id="update-restaurant-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required>

        <label for="capacity">Capacity:</label>
        <input type="number" id="capacity" name="capacity" required>

        <label for="phoneNumber">Phone Number:</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>

        <label for="registrationNum">Registration Number:</label>
        <input type="text" id="registrationNum" name="registrationNum" required>

        <label for="openTime">Opening Time:</label>
        <input type="time" id="openTime" name="openTime" required>

        <label for="closeTime">Closing Time:</label>
        <input type="time" id="closeTime" name="closeTime" required>

        <label for="category">Category:</label>
        <select id="category" name="category" required>
            <option value="JAP">Japanese</option>
            <option value="WESTERN">WESTERN</option>
            <option value="PIZZA">PIZZA</option>
            <option value="CHICKEN">CHICKEN</option>
            <option value="ASIA">ASIA</option>
            <option value="KOREAN">KOREAN</option>
            <!-- Add more categories as needed -->
        </select>

        <button type="submit">Update Restaurant</button>
    </form>
</div>
<script src="/static/js/restaurant/updateRestaurant.js"></script>
</body>
</html>
