<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/user/signup.css">
</head>
<body>
    <h1>Sign Up</h1>
    <input type="text" id="signup-username" placeholder="Username">
    <input type="password" id="signup-password" placeholder="Password">
    <input type="email" id="signup-email" placeholder="Email">
    <button onclick="signUp()">Sign Up</button>

    <script src="/js/user/signup.js"></script>
</body>
</html>
